h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 117%;
    text-transform: uppercase;
    color: $white;
    transition: all 0.3s ease-in-out;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 139%;
    color: $white;
    transition: all 0.3s ease-in-out;

    &.lead {
        font-size: 24px;
        line-height: 125%;
    }
}

.overline {
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

button {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: $white;
    background: $orange;
    border-radius: 40px;
    padding: 20px;
    transition: all 0.3s ease-in-out;

    svg {
        margin-left: 24px;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        background: $white;
        color: $orange;

        svg path {
            fill: $orange;
        }
    }

    &:active {
        transform: translateY(-2px);
    }
}

ul li {
    list-style: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: $white;
    position: relative;
    padding-left: 40px;
    transition: all 0.3s ease-in-out;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 24px;
        height: 24px;
        background: url("../../docs/assets/images/check.png") no-repeat;
    }
}

.burger-icon {
    display: none;
}

.header-link {
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: 0;
        height: 2px;
        background: $white;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        &::after {
            left: 0;
            width: 100%;
        }
    }
}

html.light {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $dark-blue;
    }

    p,
    .overline,
    ul li {
        color: $dark-blue;
    }

    svg path {
        fill: $dark-blue;
    }
}
